<div class="app-sidebar colored">
    <div class="sidebar-header">
        <a class="header-brand" href="../index.ejs">
           
            <span class="text"><%= locals.type %> Admin </span>
        </a>
       
      </div>
    


      <% if(locals.type === "pd"){%>
        <div class="sidebar-content">
            <div class="nav-container">
                <nav id="main-menu-navigation" class="navigation-main">
                    <div class="nav-lavel">Navigation</div>
                <div class="nav-item active">
                    <a href="/pd/dashboard"><i class="ik ik-bar-chart-2"></i><span>ড্যাশবোর্ড</span></a>
                </div>
               
                <div class="nav-lavel">পারিবারিক সবজি ও পুষ্টি<br>বাগান স্থাপন প্রদর্শনী </div>
                <div class="nav-item">
                    <a href="/pd/demonstrationInitial"><i class="ik ik-package"></i><span>প্রাথমিক প্রতিবেদন</span></a>
                </div>
                <div class="nav-item">
                    <a href="/pd/demonstrationFinal"><i class="ik ik-package"></i><span>চূড়ান্ত প্রতিবেদন</span></a>
                </div>
                <div class="nav-lavel">স্যাঁতস্যাঁতে জমিতে কচু জাতীয়<br>সবজি চাষ প্রদর্শনী </div>
                <div class="nav-item">
                    <a href="/pd/kochudemonstrationInitial"><i class="ik ik-package"></i><span> প্রাথমিক প্রতিবেদন</span></a>
                </div>
                <div class="nav-item">
                    <a href="/pd/kochudemonstrationFinal"><i class="ik ik-package"></i><span> চূড়ান্ত প্রতিবেদন</span></a>
                </div>
                <div class="nav-lavel">ছায়াযুক্ত স্থান/বসতবাড়িতে<br>আদা/হলুদ চাষ প্রদর্শনী </div>
                <div class="nav-item">
                    <a href="/pd/adademonstrationInitial"><i class="ik ik-package"></i><span> প্রাথমিক প্রতিবেদন</span></a>
                </div>
                <div class="nav-item">
                    <a href="/pd/adademonstrationFinal"><i class="ik ik-package"></i><span> চূড়ান্ত প্রতিবেদন</span></a>
                </div>
                <div class="nav-lavel">কমিউনিটি বেইজড ভার্মি কম্পোস্ট<br>উৎপাদন পিট স্থাপন প্রদর্শনী </div>
                <div class="nav-item">
                    <a href="/pd/vermiCompostInitial"><i class="ik ik-package"></i><span> প্রাথমিক প্রতিবেদন</span></a>
                </div>
                <div class="nav-item">
                    <a href="/pd/vermiCompostFinal"><i class="ik ik-package"></i><span> চূড়ান্ত প্রতিবেদন</span></a>
                </div>
                <div class="nav-lavel">প্রশিক্ষণ</div>
                <div class="nav-item">
                    <a href="/pd/trainedFarmer"><i class="ik ik-package"></i><span>কৃষক প্রশিক্ষণ তথ্য </span></a>
                </div>
                <div class="nav-item">
                    <a href="/pd/saao"><i class="ik ik-package"></i><span>এসএএও প্রশিক্ষণ তথ্য </span></a>
                </div>

                <div class="nav-lavel">ক্ষুদ্র কৃষি যন্ত্রপাতি বিতরণ</div>
                <div class="nav-item">
                    <a href="/pd/machinery"><i class="ik ik-package"></i><span>কৃষি যন্ত্রপাতি বিতরণ</span></a>
                </div>

                <div class="nav-lavel">অন্যান্য কার্যক্রম</div>
                <div class="nav-item">
                    <a href="/pd/irrigation"><i class="ik ik-package"></i><span>জিরো এনার্জি কুল চেম্বার স্থাপন</span></a>
                </div>
                <div class="nav-item">
                    <a href="/pd/agriFair"><i class="ik ik-package"></i><span>সেমিনার</span></a>
                </div>
                <div class="nav-item">
                    <a href="/pd/motivation"><i class="ik ik-package"></i><span>উদ্বুদ্ধকরণ ভ্রমণ</span></a>
                </div>
                    
    
                    
                </nav>
            </div>
        </div>
    </div>
    <% }else if (locals.type === "ad"){%>
        <div class="sidebar-content">
            <div class="nav-container">
                <nav id="main-menu-navigation" class="navigation-main">
                    <div class="nav-lavel">Navigation</div>
                <div class="nav-item active">
                    <a href="/ad/dashboard"><i class="ik ik-bar-chart-2"></i><span>ড্যাশবোর্ড</span></a>
                </div>
               
                <div class="nav-lavel">পারিবারিক সবজি ও পুষ্টি<br>বাগান স্থাপন প্রদর্শনী </div>
                <div class="nav-item">
                    <a href="/ad/demonstrationInitial"><i class="ik ik-package"></i><span>প্রাথমিক প্রতিবেদন</span></a>
                </div>
                <div class="nav-item">
                    <a href="/ad/demonstrationFinal"><i class="ik ik-package"></i><span>চূড়ান্ত প্রতিবেদন</span></a>
                </div>
                <div class="nav-lavel">স্যাঁতস্যাঁতে জমিতে কচু জাতীয়<br>সবজি চাষ প্রদর্শনী </div>
                <div class="nav-item">
                    <a href="/ad/kochudemonstrationInitial"><i class="ik ik-package"></i><span> প্রাথমিক প্রতিবেদন</span></a>
                </div>
                <div class="nav-item">
                    <a href="/ad/kochudemonstrationFinal"><i class="ik ik-package"></i><span> চূড়ান্ত প্রতিবেদন</span></a>
                </div>
                <div class="nav-lavel">ছায়াযুক্ত স্থান/বসতবাড়িতে<br>আদা/হলুদ চাষ প্রদর্শনী </div>
                <div class="nav-item">
                    <a href="/ad/adademonstrationInitial"><i class="ik ik-package"></i><span> প্রাথমিক প্রতিবেদন</span></a>
                </div>
                <div class="nav-item">
                    <a href="/ad/adademonstrationFinal"><i class="ik ik-package"></i><span> চূড়ান্ত প্রতিবেদন</span></a>
                </div>
                <div class="nav-lavel">কমিউনিটি বেইজড ভার্মি কম্পোস্ট<br>উৎপাদন পিট স্থাপন প্রদর্শনী </div>
                <div class="nav-item">
                    <a href="/ad/vermiCompostInitial"><i class="ik ik-package"></i><span> প্রাথমিক প্রতিবেদন</span></a>
                </div>
                <div class="nav-item">
                    <a href="/ad/vermiCompostFinal"><i class="ik ik-package"></i><span> চূড়ান্ত প্রতিবেদন</span></a>
                </div>
                <div class="nav-lavel">প্রশিক্ষণ</div>
                <div class="nav-item">
                    <a href="/ad/trainedFarmer"><i class="ik ik-package"></i><span>কৃষক প্রশিক্ষণ তথ্য </span></a>
                </div>
                <div class="nav-item">
                    <a href="/ad/saao"><i class="ik ik-package"></i><span>এসএএও প্রশিক্ষণ তথ্য </span></a>
                </div>

                <div class="nav-lavel">ক্ষুদ্র কৃষি যন্ত্রপাতি বিতরণ</div>
                <div class="nav-item">
                    <a href="/ad/machinery"><i class="ik ik-package"></i><span>কৃষি যন্ত্রপাতি বিতরণ</span></a>
                </div>

                <div class="nav-lavel">অন্যান্য কার্যক্রম</div>
                <div class="nav-item">
                    <a href="/ad/irrigation"><i class="ik ik-package"></i><span>জিরো এনার্জি কুল চেম্বার স্থাপন</span></a>
                </div>
                <div class="nav-item">
                    <a href="/ad/agriFair"><i class="ik ik-package"></i><span>সেমিনার</span></a>
                </div>
                <div class="nav-item">
                    <a href="/ad/motivation"><i class="ik ik-package"></i><span>উদ্বুদ্ধকরণ ভ্রমণ</span></a>
                </div>
                    
    
                    
                </nav>
            </div>
        </div>
    </div>
    <% }else if (locals.type === "dd"){%>
        <div class="sidebar-content">
            <div class="nav-container">
                <nav id="main-menu-navigation" class="navigation-main">
                    <div class="nav-lavel">Navigation</div>
                <div class="nav-item active">
                    <a href="/dd/dashboard"><i class="ik ik-bar-chart-2"></i><span>ড্যাশবোর্ড</span></a>
                </div>
               
                <div class="nav-lavel">পারিবারিক সবজি ও পুষ্টি<br>বাগান স্থাপন প্রদর্শনী </div>
                <div class="nav-item">
                    <a href="/dd/demonstrationInitial"><i class="ik ik-package"></i><span>প্রাথমিক প্রতিবেদন</span></a>
                </div>
                <div class="nav-item">
                    <a href="/dd/demonstrationFinal"><i class="ik ik-package"></i><span>চূড়ান্ত প্রতিবেদন</span></a>
                </div>
                <div class="nav-lavel">স্যাঁতস্যাঁতে জমিতে কচু জাতীয়<br>সবজি চাষ প্রদর্শনী </div>
                <div class="nav-item">
                    <a href="/dd/kochudemonstrationInitial"><i class="ik ik-package"></i><span> প্রাথমিক প্রতিবেদন</span></a>
                </div>
                <div class="nav-item">
                    <a href="/dd/kochudemonstrationFinal"><i class="ik ik-package"></i><span> চূড়ান্ত প্রতিবেদন</span></a>
                </div>
                <div class="nav-lavel">ছায়াযুক্ত স্থান/বসতবাড়িতে<br>আদা/হলুদ চাষ প্রদর্শনী </div>
                <div class="nav-item">
                    <a href="/dd/adademonstrationInitial"><i class="ik ik-package"></i><span> প্রাথমিক প্রতিবেদন</span></a>
                </div>
                <div class="nav-item">
                    <a href="/dd/adademonstrationFinal"><i class="ik ik-package"></i><span> চূড়ান্ত প্রতিবেদন</span></a>
                </div>
                <div class="nav-lavel">কমিউনিটি বেইজড ভার্মি কম্পোস্ট<br>উৎপাদন পিট স্থাপন প্রদর্শনী </div>
                <div class="nav-item">
                    <a href="/dd/vermiCompostInitial"><i class="ik ik-package"></i><span> প্রাথমিক প্রতিবেদন</span></a>
                </div>
                <div class="nav-item">
                    <a href="/dd/vermiCompostFinal"><i class="ik ik-package"></i><span> চূড়ান্ত প্রতিবেদন</span></a>
                </div>
                <div class="nav-lavel">প্রশিক্ষণ</div>
                <div class="nav-item">
                    <a href="/dd/trainedFarmer"><i class="ik ik-package"></i><span>কৃষক প্রশিক্ষণ তথ্য </span></a>
                </div>
                <div class="nav-item">
                    <a href="/dd/saao"><i class="ik ik-package"></i><span>এসএএও প্রশিক্ষণ তথ্য </span></a>
                </div>

                <div class="nav-lavel">ক্ষুদ্র কৃষি যন্ত্রপাতি বিতরণ</div>
                <div class="nav-item">
                    <a href="/dd/machinery"><i class="ik ik-package"></i><span>কৃষি যন্ত্রপাতি বিতরণ</span></a>
                </div>

                <div class="nav-lavel">অন্যান্য কার্যক্রম</div>
                <div class="nav-item">
                    <a href="/dd/irrigation"><i class="ik ik-package"></i><span>জিরো এনার্জি কুল চেম্বার স্থাপন</span></a>
                </div>
                <div class="nav-item">
                    <a href="/dd/agriFair"><i class="ik ik-package"></i><span>সেমিনার</span></a>
                </div>
                <div class="nav-item">
                    <a href="/dd/motivation"><i class="ik ik-package"></i><span>উদ্বুদ্ধকরণ ভ্রমণ</span></a>
                </div>

                    
    
                    
                </nav>
            </div>
        </div>
    </div>
<% }else { %>
    <div class="sidebar-content">
        <div class="nav-container">
            <nav id="main-menu-navigation" class="navigation-main">
                <div class="nav-lavel">Navigation</div>
                <div class="nav-item active">
                    <a href="/upazilla/dashboard"><i class="ik ik-bar-chart-2"></i><span>ড্যাশবোর্ড</span></a>
                </div>
               
               
                <div class="nav-lavel">পারিবারিক সবজি ও পুষ্টি<br>বাগান স্থাপন প্রদর্শনী </div>
                <div class="nav-item">
                    <a href="/upazilla/demonstrationInitial"><i class="ik ik-package"></i><span>প্রাথমিক প্রতিবেদন</span></a>
                </div>
                <div class="nav-item">
                    <a href="/upazilla/demonstrationFinal"><i class="ik ik-package"></i><span>চূড়ান্ত প্রতিবেদন</span></a>
                </div>
                <div class="nav-lavel">স্যাঁতস্যাঁতে জমিতে কচু জাতীয়<br>সবজি চাষ প্রদর্শনী </div>
                <div class="nav-item">
                    <a href="/upazilla/kochudemonstrationInitial"><i class="ik ik-package"></i><span> প্রাথমিক প্রতিবেদন</span></a>
                </div>
                <div class="nav-item">
                    <a href="/upazilla/kochudemonstrationFinal"><i class="ik ik-package"></i><span> চূড়ান্ত প্রতিবেদন</span></a>
                </div>
                <div class="nav-lavel">ছায়াযুক্ত স্থান/বসতবাড়িতে<br>আদা/হলুদ চাষ প্রদর্শনী </div>
                <div class="nav-item">
                    <a href="/upazilla/adademonstrationInitial"><i class="ik ik-package"></i><span> প্রাথমিক প্রতিবেদন</span></a>
                </div>
                <div class="nav-item">
                    <a href="/upazilla/adademonstrationFinal"><i class="ik ik-package"></i><span> চূড়ান্ত প্রতিবেদন</span></a>
                </div>
                <div class="nav-lavel">কমিউনিটি বেইজড ভার্মি কম্পোস্ট<br>উৎপাদন পিট স্থাপন প্রদর্শনী </div>
                <div class="nav-item">
                    <a href="/upazilla/vermiCompostInitial"><i class="ik ik-package"></i><span> প্রাথমিক প্রতিবেদন</span></a>
                </div>
                <div class="nav-item">
                    <a href="/upazilla/vermiCompostFinal"><i class="ik ik-package"></i><span> চূড়ান্ত প্রতিবেদন</span></a>
                </div>
                <div class="nav-lavel">প্রশিক্ষণ</div>
                <div class="nav-item">
                    <a href="/upazilla/trainedFarmer"><i class="ik ik-package"></i><span>কৃষক প্রশিক্ষণ তথ্য </span></a>
                </div>
                <div class="nav-item">
                    <a href="/upazilla/saao"><i class="ik ik-package"></i><span>এসএএও প্রশিক্ষণ তথ্য </span></a>
                </div>

                <div class="nav-lavel">ক্ষুদ্র কৃষি যন্ত্রপাতি বিতরণ</div>
                <div class="nav-item">
                    <a href="/upazilla/machinery"><i class="ik ik-package"></i><span>কৃষি যন্ত্রপাতি বিতরণ</span></a>
                </div>

                <div class="nav-lavel">অন্যান্য কার্যক্রম</div>
                <div class="nav-item">
                    <a href="/upazilla/irrigation"><i class="ik ik-package"></i><span>জিরো এনার্জি কুল চেম্বার স্থাপন</span></a>
                </div>
                <div class="nav-item">
                    <a href="/upazilla/agriFair"><i class="ik ik-package"></i><span>সেমিনার</span></a>
                </div>
                <div class="nav-item">
                    <a href="/upazilla/motivation"><i class="ik ik-package"></i><span>উদ্বুদ্ধকরণ ভ্রমণ</span></a>
                </div>
                
            </nav>
        </div>
    </div>
</div>
<% }   %>