<!DOCTYPE html>
<!--[if lt IE 9 ]><html class="no-js oldie" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="no-js oldie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title>Establishment of Family Nutrition Garden</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="landingPage/css/base.css">
    <link rel="stylesheet" href="landingPage/css/vendor.css">
    <link rel="stylesheet" href="landingPage/css/main.css">

    <!-- script
    ================================================== -->
    <script src="landingPage/js/modernizr.js"></script>
    <script src="landingPage/js/pace.min.js"></script>

    <!-- favicons
    ================================================== -->
    <link rel="shortcut icon" href="landingPage/favicon.ico" type="image/x-icon">
    <link rel="icon" href="landingPage/favicon.ico" type="image/x-icon">

</head>

<body id="top">

    <!-- header
    ================================================== -->
    <header class="s-header">

        <!-- <div class="header-logo">
            <a class="site-logo" href="/">
                <img src="landingPage/images/logo.png" alt="Homepage">
            </a>
            <a class="site-logo" href="/">
                <img src="landingPage/images/bdlogo.png" alt="Homepage">
            </a>
        </div>
         -->
        <nav class="header-nav">

            <a href="#0" class="header-nav__close" title="close"><span>Close</span></a>

            <!-- <div class="header-nav__content">
                <h3>নেভিগেশন</h3>
                
                <ul class="header-nav__list">
                    <li class="current"><a class="smoothscroll"  href="#home" title="home">হোম</a></li>
                    <li><a class="smoothscroll"  href="#services" title="services">আমাদের সম্পর্কে</a></li>
                    <li><a class=""  href="/center/charaKolomFixed" title="contact">চারা কলমের মূল্য তালিকা</a></li>
                    <li><a class="smoothscroll"  href="#about" title="about">চারা কলমের মজুদ</a></li>
                    
                    <li><a class=""  href="/center/allCenterInfo" title="contact">সেন্টারের যোগাযোগ তথ্য</a></li>
                    <li><a class="smoothscroll"  href="#contact" title="contact">প্রধান কার্যালয়ের যোগাযোগ তথ্য</a></li>
                    
                </ul> -->

            </div> <!-- end header-nav__content -->

        </nav>  <!-- end header-nav -->


        <!-- <a class="header-menu-toggle" href="#0">
            <span class="header-menu-text">মেন্যু</span>
            <span class="header-menu-icon"></span>
        </a> -->
        <!-- <a href="/center/login"  class=" btn btn-primary mt-5" style="position: fixed;top: 0;margin: 20px;background: #42d055;color: white;">
            Login
        </a> -->

    </header> <!-- end s-header -->


    <!-- home
    ================================================== -->
    <section id="home" class="s-home target-section" data-parallax="scroll" data-image-src="landingPage/images/hero-bg6.jpg" data-natural-width=3000 data-natural-height=2000 data-position-y=center>

        <div class="overlay"></div>
        <div class="shadow-overlay"></div>

        <div class="home-content">
            
            <div class="row home-content__main">
             

                <h1 class="text-center">অনাবাদী পতিত জমি ও বসতবসড়ির আঙ্গিনায় পারিবারিক পুষ্টি বাগান স্থাপন প্রকল্প এর <br>রিপোর্টিং ম্যানেজমেন্ট সফটওয়্যারে আপনাকে স্বাগতম</h1>
                <div style="text-align:center" class="home-content__buttons">
                    <a href="/pd/login" class=" btn btn--stroke text-center" >
                        PD Login
                    </a>
                    <a href="/dd/login" class=" btn btn--stroke text-center">
                        DD Login
                    </a>
                    <a href="/upazilla/login" class=" btn btn--stroke text-center">
                        Upazilla Login
                    </a>
                </div>

<!--                <div class="home-content__buttons" style="text-align: center;">-->
<!--                    <a href="/pd/login" class=" btn btn&#45;&#45;stroke">-->
<!--                        Admin Login-->
<!--                    </a>-->
<!--                    <a href="/center/login" class=" btn btn&#45;&#45;stroke">-->
<!--                        Center Login-->
<!--                    </a>-->
<!--                </div>-->
               

            </div>

            <div class="home-content__scroll">
                <a href="#about" class="scroll-link smoothscroll">
                    <span>নিচে নামুন</span>
                </a>
            </div>

            <div class="home-content__line"></div>

        </div> <!-- end home-content -->




    </section> <!-- end s-home -->


    <!-- about
    ================================================== -->

    <section id='about' class="s-about">

        <div class="row section-header has-bottom-sep" data-aos="fade-up">
            <div class="col-full">
                <h5 class="display-1 display-1--light">প্রকল্পের উদ্দেশ্য</h5>
                    <br>
                <h1 class="subhead subhead--dark">১. কৃষি উৎপাদন বৃদ্ধির লক্ষ্যে অনাবাদী পতিত ও অব্যবহৃত বসতবাড়ি চাষের আওতায় আনা </h1>
                <h1 class="subhead subhead--dark"> </h1>
                <h1 class="subhead subhead--dark">২. বছরব্যাপী ৫,০৩,১৬০ টি কৃষক পরিবারের পারিবারিক পুষ্টি চাহিদা মেটানোর জন্য সবজি ও মসলা জাতীয় ফসল উৎপাদন </h1>
                <h1 class="subhead subhead--dark"> </h1>
                <h1 class="subhead subhead--dark">৩. ১,৭৭,১২০ জন কৃষক-কৃষাণী এবং ৫,৭৬০ জন উপসহকারী কৃষি কর্মকর্তার পারিবারিক পুষ্টি বাগান স্থাপন, রক্ষণাবেক্ষণ ও সম্প্রসারণ বিষয় দক্ষতা বৃদ্ধি </h1>

            </div>
        </div> 

    </section> <!-- end s-about -->
    <!-- services
    ================================================== -->
    <section id='services' class="s-services">

        <div class="row section-header has-bottom-sep" data-aos="fade-up">
            <div class="col-full">
                <h3 class="subhead">প্রকল্পের কার্যক্রম</h3>
            </div>
        </div> <!-- end section-header -->

        <div class="row services-list block-1-2 block-tab-full">

            <div class="col-block service-item" data-aos="fade-up">
                <div class="service-icon">
                    <i class="icon-group"></i>
                </div>
                <div class="service-text">
                    <h3 class="h2">পতিত, অব্যবহৃত জমি, বসতবাড়িতে সবজি, ফল, মসলা ও ভেষজ জাতীয় ফসলের ০৩ ধরণের প্রদর্শনী স্থাপন (সর্বমোট- ৫,০৩,১৬০ টি প্রদর্শনী)</h3>
                    <span>১. পারিবারিক সবজি পুষ্টি বাগান প্রদর্শনী - ৪,৮৮,৪০০</span>
                    <br>
                    <span>২. স্যাঁতস্যাঁতে জমিতে কচু জাতীয় চাষ প্রদর্শনী</span>
                    <br>
                    <span>৩. ছায়াযুক্ত স্থান/ বসতবাড়িতে আদা/ হলুদ চাষ প্রদর্শনী</span>
                    
                </div>
            </div>

            <div class="col-block service-item" data-aos="fade-up">
                <div class="service-icon">
                    <i class="icon-paint-brush"></i>
                </div>
                <div class="service-text">
                    <h3 class="h2">প্রশিক্ষণঃ (৬০৯৬ ব্যাচ)</h3>
                    <span>১. কৃষক প্রশিক্ষণ (উপজেলা পর্যায়)-৫৯০৪ ব্যাচ</span>
                    <br>
                    <span>২. এসএএও প্রশিক্ষণ -১৯২ ব্যাচ</span>
                    
                </div>
            </div>

            

            <div class="col-block service-item" data-aos="fade-up">
                <div class="service-icon">
                    <i class="icon-megaphone"></i>
                </div>  
                <div class="service-text">
                    <h3 class="h2">জিরো এনার্জি কুল চেয়ার স্থাপন (শাক-সবজী সংরক্ষণের জন্য)-১৯৮ টি</h3>
                    </p>
                </div>
            </div>

            <div class="col-block service-item" data-aos="fade-up">
                <div class="service-icon">
                    <i class="icon-cube"></i>
                </div>
                <div class="service-text">
                    <h3 class="h2">কৃষি যন্ত্রপাতি সরবরবাহঃ </h3>
                    <span>১.ফুট স্প্রেয়ারঃ ৪৫৫৪ টি</span>
                    <br>
                    <span>২.হ্যান্ড স্প্রেয়ার - ৯১০৮ টি</span>
                    <br>
                    <span>৩.বাডিং নাইফ - ১৩৬৬২ টি </span>
                    <br>
                    <span>৪.বুশ কাটার (প্রুনিং স্প্রেয়ার) - ১৩৬৬২টি</span>
                    <br>
                    <span>৫.মেকানিক্যাল ভার্মি কম্পোস্ট সেপারেটর - ১০০টি</span>
                </div>
            </div>


        </div> <!-- end services-list -->

    </section> <!-- end s-services -->

    <!-- contact
    ================================================== -->
    <section id="contact" class="s-contact">

        <div class="overlay"></div>
        <div class="contact__line"></div>

        <div class="row section-header" data-aos="fade-up">
            <div class="col-full">
                <h3 class="subhead">যোগাযোগ করুন</h3>
            </div>
        </div>

        <div class="row contact-content" data-aos="fade-up">
            
            <div class="contact-primary">

                <h3 class="h6">আমাদের সাথে যোগাযোগ করুন</h3>

                <form name="contactForm" id="contactForm" method="post" action="" novalidate="novalidate">
                    <fieldset>
    
                    <div class="form-field">
                        <input name="contactName" type="text" id="contactName" placeholder="আপনার নাম" value="" minlength="2" required="" aria-required="true" class="full-width">
                    </div>
                    <div class="form-field">
                        <input name="contactEmail" type="email" id="contactEmail" placeholder="আপনার ই-মেইল" value="" required="" aria-required="true" class="full-width">
                    </div>
                    <div class="form-field">
                        <input name="contactSubject" type="text" id="contactSubject" placeholder="সাব্জেক্ট" value="" class="full-width">
                    </div>
                    <div class="form-field">
                        <textarea name="contactMessage" id="contactMessage" placeholder="আপনার মেসেজ" rows="10" cols="50" required="" aria-required="true" class="full-width"></textarea>
                    </div>
                    <div class="form-field">
                        <button class="full-width btn--primary">সাবমিট করুন</button>
                        <div class="submit-loader">
                            <div class="text-loader">Sending...</div>
                            <div class="s-loader">
                                <div class="bounce1"></div>
                                <div class="bounce2"></div>
                                <div class="bounce3"></div>
                            </div>
                        </div>
                    </div>
    
                    </fieldset>
                </form>

                <!-- contact-warning -->
                <div class="message-warning">
                    Something went wrong. Please try again.
                </div> 
            
                <!-- contact-success -->
                <div class="message-success">
                    Your message was sent, thank you!<br>
                </div>

            </div> <!-- end contact-primary -->

            <div class="contact-secondary">
                <div class="contact-info">

                    <h3 class="h6 hide-on-fullwidth">যোগাযোগের উপায়</h3>
                    <p class="home-content__buttons">
                        <a href="/center/allCenterInfo" class=" btn btn--stroke">
                            সকল সেন্টারের তথ্য
                        </a>
                    </p>
                    <div class="cinfo">
                        <h5>ঠিকানা</h5>
                        <p>
                            খামারবাড়ি রোড,<br>
                            খামারবাড়ি, ঢাকা<br>
                            ঢাকা ১২১৫
                        </p>
                    </div>

                    <div class="cinfo">
                        <h5>ই-মেইল</h5>
                        <p>
                            contact@dae.com<br>
                        </p>
                    </div>

                    <div class="cinfo">
                        <h5>ফোন/মোবাইল</h5>
                        <p>
                            ফোন: <br>
                            মোবাইল:<br>
                        </p>
                    </div>

                </div> <!-- end contact-info -->
            </div> <!-- end contact-secondary -->

        </div> <!-- end contact-content -->

    </section> <!-- end s-contact -->

    <!-- footer
    ================================================== -->
    <footer>


        <div class="row footer-bottom">

            <div class="col-twelve">
                <div class="copyright">
                    <span>Created by <a href="https://www.kerneltechnologies.ltd/">Kernel Technologies Ltd.</a></span>	
                </div>

                <div class="go-top">
                    <a class="smoothscroll" title="Back to Top" href="#top"><i class="icon-arrow-up" aria-hidden="true"></i></a>
                </div>
            </div>

        </div> <!-- end footer-bottom -->

    </footer> <!-- end footer -->

    <!-- photoswipe background
    ================================================== -->
    <div aria-hidden="true" class="pswp" role="dialog" tabindex="-1">

        <div class="pswp__bg"></div>
        <div class="pswp__scroll-wrap">

            <div class="pswp__container">
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
            </div>

            <div class="pswp__ui pswp__ui--hidden">
                <div class="pswp__top-bar">
                    <div class="pswp__counter"></div><button class="pswp__button pswp__button--close" title="Close (Esc)"></button> <button class="pswp__button pswp__button--share" title=
                    "Share"></button> <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button> <button class="pswp__button pswp__button--zoom" title=
                    "Zoom in/out"></button>
                    <div class="pswp__preloader">
                        <div class="pswp__preloader__icn">
                            <div class="pswp__preloader__cut">
                                <div class="pswp__preloader__donut"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                    <div class="pswp__share-tooltip"></div>
                </div><button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button> <button class="pswp__button pswp__button--arrow--right" title=
                "Next (arrow right)"></button>
                <div class="pswp__caption">
                    <div class="pswp__caption__center"></div>
                </div>
            </div>

        </div>

    </div> <!-- end photoSwipe background -->

    <!-- preloader
    ================================================== -->
    <div id="preloader">
        <div id="loader">
            <div class="line-scale-pulse-out">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>


    <!-- Java Script
    ================================================== -->
    <script src="landingPage/js/jquery-3.2.1.min.js"></script>
    <script src="landingPage/js/plugins.js"></script>
    <script src="landingPage/js/main.js"></script>
   

</body>

</html>